configuration{
    modi: "drun,window,ssh,calc,emoji";
    icon-theme: "Numix";
    show-icons: true;
    terminal: "st";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "   Apps ";
    display-window: " 﩯  Window";
    display-ssh: "   SSH";
    display-calc: "󰪚 Calculator";
    display-emoji: "󰞅 Emoji";
    sidebar-mode: true;
}

@theme "catppuccin-mocha"
